.movie-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-detail img {
  width: 100%; 
  max-width: 200px; 
  height: auto; 
  object-fit: contain; 
  align-items: center;
  text-align: center;
}

.movie-detail p {
  align-items: center;
  text-align: center;
  width: 70%;
}
